<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/comDesafioJava2/src/comDesafioJava2/comDesafioJava2Escuela.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="comDesafioJava2.comDesafioJava2Escuela"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="comDesafioJava2"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="comDesafioJava2"/>
</launchConfiguration>
